div#canves
	div.restart
		i.fa.fa-repeat
	div.curtain
	ul#score-panel
		li
			i.fa.fa-star
		li
			i.fa.fa-star
		li
			i.fa.fa-star
		li
			h1 
				span#moves-num
				span  Moves
	ul#tower-1.tower
	ul#tower-2.tower
	ul#tower-3.tower